* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-01 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: 0;
  background-color: #e18951;
  filter: blur(175px);
}
.gradient-02 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: -6rem;
  right: 0px;
  background-color: #e03a2a;
  filter: blur(190px);
}
.gradient-03 {
  position: absolute;
  width: 2000px;
  height: 400px;
  top: -20rem;
  right: 0px;
  background-color: #15a7b2;
  filter: blur(290px);
}
.gradient-04 {
  position: absolute;
  width: 200px;
  height: 400px;
  top: -10rem;
  right: 0px;
  background-color: #d12ae0;
  filter: blur(290px);
}
